:root {
    --app-brown: #1a110a;
    --app-orange: #ff8c00;
    --app-yellow: #ffcc00;
    --app-text: #d1c7b7;
}

body {
    background-color: var(--app-brown);
    color: var(--app-text);
    font-family: "Junicode", serif;
}

.header {
    color: var(--app-orange);
    font-family: "Junicode", serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    align-content: center;
    margin: 1rem 0;
}

#map {
    height: 400px;
    width: 100%;
    border: 2px solid var(--app-orange);
    border-radius: 8px;
    margin-bottom: 1rem;
}

.content {
    padding: 1rem;
    background-color: var(--app-orange);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.data {
    color: var(--app-yellow)
}

.productTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}   

.table th, .table tr, .table td {
    /* color: var(--app-yellow); */
    background-color: var(--app-orange);
}